body {
    font-family: 'Lato', sans-serif;
    background-image: url("https://psap.library.illinois.edu/assets/parchment_detail-1500-06650fb8ace374fe2daf6242ec2c1b63.jpg");
    background-color: azure;
    
  }

header {
  text-align: center;
  background-color: #E5B364;
  padding-top: 10px;
  padding-bottom: 1px;
  margin-bottom: 20px;
}

#page-controls {
  margin: auto;
  width: 50%;
  text-align: center;
  vertical-align: middle
}

button {
  font-family: inherit;
  background-color: #E5B364;  
  font-size: 16px
}

.add-bookmark-bttn {
  display: inline-block;
  clear: both;
  margin: 10px;
  vertical-align: middle;
  height: 35px;
}

.ratings-box {
  display: inline-block;
  vertical-align: horizontal;
}

.ratings-box label{
  font-size: 20px;
  text-shadow: 1px 1px #f2f2f2;
}

label{
  display:block;
  margin-bottom: 10px;
  clear: both;
  font-family: inherit;
  font-weight: bold;
}

#ratings-to-display {
  display: inline-block;
  margin: 10px;
  margin: auto;
  clear: both;
}

.hidden {
  display: none;
}

.add-bookmark-modal {
  margin: auto;
  width: 80%;
  text-align: center;
  background-color: #f2f2f2;
  padding-top: 10px;
  padding-bottom: 30px;
}

.add-bookmark-modal button {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.add-bookmark-modal label {
  margin-top: 20px;
  font-size: 20px;
}

.add-bookmark-modal input {
  width: 80%
}

.add-bookmark-modal .desc {
  height: 110px;
  width: 80%;
}

#ratings-to-display {
  width: 60px;
}

ul {
  list-style: none;
  font-family: inherit;
  width: 80%;
  margin: auto;
}

#edit-desc {
  height: 110px;
  width: 80%;
}

.bookmarks-list .item-div {
  background-color: #f2f2f2;
  margin: 30px;
  padding: 20px;
  border: solid 2px black;
} 

.bookmarks-list .item-div div {
  margin: 10px;
}

.edit-item-submit-button {
  display: block;
  margin: 10px;
}

.bookmark-desc{
  width: 80px;
  word-wrap: break-word;
}

.edit-item input {
  width: 80%;
}

.bookmark-name {
  font-size: 20px;
}

.bold {
  font-weight: bold;
  padding: 5px;
}

.bookmark-controls {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  align-items: center;
  }
